<a href="https://colab.research.google.com/github/DanielaSerrato/Intro-Programacion/blob/main/notebooks/05_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 5: Modelo físico en MySQL (DDL, tipos y constraints)

## Objetivos
- Implementar el modelo lógico en MySQL.
- Elegir **tipos de datos** adecuados.
- Aplicar **constraints**: PK, FK, UNIQUE, NOT NULL.

## Modelo físico
El modelo físico define cómo se crean las tablas en un motor específico (MySQL).
Usamos **DDL** (Data Definition Language) con `CREATE TABLE`.

## Ejemplo guiado: biblioteca (MySQL)
```sql
CREATE TABLE autores (
  autor_id INT PRIMARY KEY AUTO_INCREMENT,
  nombre VARCHAR(100) NOT NULL
);

CREATE TABLE libros (
  libro_id INT PRIMARY KEY AUTO_INCREMENT,
  titulo VARCHAR(200) NOT NULL,
  anio_publicacion SMALLINT,
  autor_id INT NOT NULL,
  CONSTRAINT fk_libros_autor
    FOREIGN KEY (autor_id) REFERENCES autores(autor_id)
);
```

### Tipos y constraints (guía)
- `INT` para identificadores.
- `VARCHAR(100)` para texto corto.
- `DECIMAL(10,2)` para precios.
- `NOT NULL` para datos obligatorios.
- `UNIQUE` para evitar duplicados.

## Ejemplo guiado: ventas
```sql
CREATE TABLE clientes (
  cliente_id INT PRIMARY KEY AUTO_INCREMENT,
  nombre VARCHAR(120) NOT NULL,
  correo VARCHAR(120) UNIQUE
);

CREATE TABLE ventas (
  venta_id INT PRIMARY KEY AUTO_INCREMENT,
  cliente_id INT NOT NULL,
  fecha DATE NOT NULL,
  total DECIMAL(10,2) NOT NULL,
  CONSTRAINT fk_ventas_cliente
    FOREIGN KEY (cliente_id) REFERENCES clientes(cliente_id)
);
```